	<nav>
		<a href="/">Dwayne M. Cyrus</a>
		<div>
			<button aria-expanded="false" aria-controls="main-menu" class="menu">Menu</button>
		</div>
		<ul id="main-menu" class="nav-links">
			<li><a href="/dev/">Dev</a></li>
			<li></li>
			
			<a href="/about/">About</a>
			<a href="/blog/">Blog</a>
			<a href="/changelog/">changelog</a>
			<a href="/roadmap/">Roadmap</a>
			<a href="/tags/">Tags</a>
		</ul>
	</nav>