

html {
  background-color: #fff;
  background-color: #ff9776;
  font-family: sans-serif;
  /* font-family: serif; */
    font-family: "New-Atten", sans-serif;
}

body {
  color: #000;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  /* padding: 0; */
  /* margin: 2ch 4ch; */
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1.5rem 0 1rem;
  font-size: 2.5rem;
}


/* nav styles */
.menu {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
  font-weight: normal;
  margin: 4px 8px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
    .menu {
    display: none;
  }
}

/* Daek mode */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}

/* Wikilinks */
.wikilink--missing {
  cursor: help;
  opacity: 0.7;
  text-decoration: underline dotted;
  pointer-events: none; /* stops the '#' navigation */
}
