
/* Newsletter Form for MailerLite??? TODO CHECK WHO THIS IS FOR! */
.form-newsletter,
.reminder {
    /* margin: 1rem 2rem 1rem 2rem; */
    margin: 48px 24px 48px 24px ;
    /* padding: 1rem 0rem; */
    max-width: 460px;
  }

  /* MailerLite: Background Color */
  #mlb2-17981580.ml-form-embedContainer .ml-form-embedWrapper {
    /* background-color: yellow; */
  }

div.ml-form-embedBody {
    background-color: #F7F7F7;
    background-color: #FFF6E8;
    background-color: #FDBF1E;
    background-color: #F75C03;
    /* background-color: #7F2CCB; */
    /* background-color: #30343F; */
    background-color: #1B2021;
    background-color: pink;
    /* background-color: transparent; */
}

/* MailerLite: Following the padding and margins of <p> element. */
.ml-form-embedBody {
    padding: 0 24px 24px 24px !important;

      /* padding: 0 0 1em; */
      /* line-height: 1.5; */
      font-weight: 400;
      margin: 1.35em 24px;
      max-width: 480px;
    
}
.ml-block-form .ml-form-formContent {
    margin: 0 0 10px 0;
}

/* MailerLite */
#mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent {
    margin: 0 0 10px 0 !important;
}

/* MailerLite: Input Fields */
#mlb2-17981580.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
  background-color: #FFF6E8 !important;
  background-color: red !important;
  color: #30343F !important;
  color: red !important;
}


#mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input,
#mlb2-16511123.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
    background-color: #FFF6E8 !important;
    background-color: red !important;
    color: #30343F !important;
    color: red !important;
}

#mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input,
#mlb2-16511123.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
    font-size: 16px !important; /* prevents auto zoom on mobile, anything below 16px font-size forces auto zoom for input fields */
}

#mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
    margin: 0 0 10px 0 !important;
}
/* #mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
    background-color: #333333 !important;
    border-color: #333333 !important;
    background-color: #F75C03 !important;
    border-color: #FDBF1E !important;
  } */

  #mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button,
  #mlb2-16511123.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
    background-color: #F75C03 !important;
    /* background-color: #FDBF1E !important; */
  }  
  #mlb2-16231925.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button:hover,
  #mlb2-16511123.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button:hover {
    background-color: #FDBF1E !important;
    /* background-color: #F75C03 !important; */
  }

.form-policy-notice {
 padding: 0 1.5em;
 margin: 0;
 font-size: 12px;
 line-height: 1.3;
}