---

---
<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dwayne M Cyrus</title>
	</head>
	<body>
<header>
</header>
<main>
		<h1>I'm Cyrus</h1>
		<p>Welcome to my website, let's get you up to speed!</p>
</main>
<footer>
2025 DM Cyrus
</footer>
	</body>
</html>
