---
import RoadmapMD from "../content/pages/roadmap.md"
import Navigation from "../components/Navigation.astro";
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Website Roadmap | Dwayne M Cyrus</title>
    </head>
    <body>
        <header>
<Navigation />
        </header>
        <main>
<article>
    <p>here is your map...</p>
    <RoadmapMD />
</article>
        </main>
        <footer></footer>
    </body>
</html>
