<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="UTF-8">

  <link rel="canonical" href="http://localhost:4000/service" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Your life is my work.">

  <meta property="og:site_name" content="Dwayne's digital garden">

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

  <!-- <link rel="stylesheet" href="/styles.css"> -->

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="stylesheet" href="/assets/css/styles.css">




<!-- TODO Purchase commercial liscenes and hard code these fonts into the site as backups. -->

<!-- CDN | Fonts: New Atten -->
<link href="https://fonts.cdnfonts.com/css/atten-new" rel="stylesheet">
                
<!-- Google Fonts: Overpass, Overpass Mono -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- 
font-family: 'Atten New', sans-serif;
font-family: 'Atten Round New', sans-serif;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.overpass-<uniquifier> {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
.overpass-mono-<uniquifier> {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
 -->




 <!-- MailerLite: Needed styles for the form to function. -->
 <!-- <style type="text/css">@import url("https://assets.mlcdn.com/fonts.css?version=1726484");</style> -->
<link rel="stylesheet" href="/assets/css/mailerlite.css">

<!-- <link rel="script" href="/assets/css/mailerlite.css"> -->

<script src="/assets/js/callouts.js"></script>


  
  <meta property="og:description" content="Your life is my work."/>
  

  
  <meta property="og:title" content="Service">
  <meta property="og:type" content="article">
  

  
  <meta property="article:published_time" content="2025-02-20T15:51:23+01:00">
  <meta property="article:author" content="http://localhost:4000/">
  

  <meta property="og:url" content="http://localhost:4000/service" />

  






  <title>
    
      Service &mdash; Dwayne's digital garden
    
  </title>
</head>





  <body>
    <div class="content-wrapper">
    <header>
    </header>
    <!-- <aside></aside> -->
    <main aria-role="main">
      <content>
      <p>Your life is my work.</p>

<p>Reading through this service description is a requirement to working together. Please feel free to stop reading right now if you find this task too much effort on your part—you’re not a good fit for me.</p>

<p><strong>The Offer</strong><br />
I help survivors break free from emotional slavery and achieve emotional sovereignty by guiding you through trauma healing, emotional mastery, and personal boundary-setting. My guidance empowers men and women to reclaim their self-worth, develop healthy relationships, and lead their lives with confidence and independence.</p>

<p>You are the material, there is no program, there is only co-creation. Together we go to war with your false self to free your true self along your voyage to sovereignty.</p>

<p><strong>The Agreement</strong><br />
Our success together depends on a shared agreement between you and I. We become partners, not friends—working towards your desired outcomes.</p>

<p>You speak truthfully and follow through on your required work—even if it is failing.</p>

<p>I listen compassionately (removing my ego) and hold you accountable for your work.</p>

<p>Building on top of this agreement is how I will get you through the rough seas of healing and recovery,— your transformation.</p>

<p>From the lessons of Don Miguel Ruiz, “Be impeccable with your word. Do not take anything personally. Do not make assumptions. Always do your best. Be skeptical, but learn to listen.”</p>

<p><strong>The Fees</strong><br />
I work with a limited amount of clients at any given time. Below are the starting prices (in USD) based on level of access to me for guidance.</p>

<ul>
  <li>Pathfinders (Students): $300 per week</li>
  <li>Trailblazers (Cohort/Mastermind Participants): $700 per week</li>
  <li>Ascendants (1-1 Clients): $1’600 per week</li>
</ul>

<p><strong>The Expectations</strong><br />
You are making a commitment to yourself that you will show up. No matter how hard you fall, you will fight to get back up every time.</p>

<p>I am here to educate, guide, and support you. To do that successfully I need the following from you:</p>

<ul>
  <li>Strict no-tolerance policy for substances (alcohol, drugs, etc.) to ensure maximum focus and energy. / strict policy that you maintain complete sobriety or drinking, no drugs, no alcohol, no cigarettes, no vapes, and no pornography.</li>
  <li>6-10 hours per week towards self motivated transformation and practice which involve daily readings, reflection, journaling, creative exercises, etc.</li>
  <li>Adherence to confidentiality and privacy in our work together and with your peers in any group sessions or communications.</li>
  <li>Authentic communication about any and all emotional challenges—this is for you safety. Yes, that includes anything you find yourself in disagreement with or do not like about our work together.</li>
  <li>Maintaining a standard of discipline for our work together as it is the best measurement for us to track our progress and celebrate your wins.</li>
</ul>

<p>I understand that these expectations will be challenging for many and that’s okay. They are necessary for your healing, recovery, and growth if you decide to work under my guidance.</p>

<p><strong>The Structure</strong><br />
I create a container that facilitates growth and authenticity in our work together. My approach to our engagement is one of intensity, flexibility, and high investment that requires both of our consistent efforts.</p>

<p>Here’s what to expect from me as I oversea and guide you forward:</p>

<ul>
  <li>An initial on-boarding session to setup our working environment, clarify your immediate needs, and put in place our first port of call. 
Dedicated weekly accountability check-ins to address challenges and/or celebrate wins.</li>
  <li>Scheduled working sessions over video and/or voice to keep your recovery and development in alignment moving forward.</li>
  <li>Text support throughout the week with full availability across timezones for sessions, emergency calls, and messenger contact from Sunday-Wednesday.</li>
  <li>Access to regular workshops, lectures, and tools to further your knowledge and application of new skills and practices.</li>
  <li>Receiving customized material to consume, creative activities, and writing exercises to strengthen our work together.</li>
  <li>Intimate personal connection that enhances your momentum forward with accountability, patiencecompassion and deep empathy.</li>
</ul>

<p>This structure allows for us to identify your blind spots, increase our effectiveness, and keep us on course towards our next ports of call (objectives).</p>

<p><strong>The Client</strong>
I often work with those facing emotional challenges from past and current relationships (eg. creative expression, loss of purpose, boundary work with self and others, etc.) that have left unresolved and/or overlooked traumatic experiences that hold you hostage in life.</p>

<p>Here’s a list of common challenges amongst my clients:</p>
<ul>
  <li>Feeling unheard, unseen, and unsupported</li>
  <li>Boundary work with self and others</li>
  <li>Limited or lack of creative expression</li>
  <li>Loss of purpose and direction in life</li>
  <li>Traumatic experiences from intimate relationships and family members</li>
</ul>

<p>Those who are alert, curious, courageous, vulnerable, and aspire to live a life that is not based in survival, but one thriving in sovereignty. Men and women who desire to hold exceptional standards of maturity and resilience to grow are who I find the best alignment with for success in this work.</p>

<p>I only accept those who are currently ready and prepared to make the sacrifices necessary to move forward. Hungry for transformation and in complete commitment to the process of accelerating their path towards a better life under my guidance and supervision.</p>

<p><strong>The Practice</strong>
Independent by design and not licensed as a therapist or associated with any professional bodies or institutions. This provides me the necessary freedom and opportunity to collaborate with clients across all spectrums of life in an intimate direct and highly involved manner.</p>

<p>All communications with me are managed by me. I do not have a VA (virtual assistant) or use any automated chat systems or employee people to pretend to be me. I’m in the healing and recovery business and that requires a human connection from start to end. My approach in all matters is to take time, like everything of value in life—I follow the natural order.</p>

<p>“Slow is smooth. Smooth is fast.” - George Morris</p>

<p>I live by a philosophy of integrated authenticity which is built on an adherence to maintaining functional boundaries. My life and practice is built on this which allows me to commit 2 hours a day to the study of my craft, 3 hours of personal development work, and the completion of 2 books per week. This routine is mandatory as I can only guide you as far as I have gone in my own personal voyage of emotional recovery, creative expression, and personal development after trauma.</p>

<p><strong>The Application</strong>
I work with the bare minimum of clients to maintain the highest quality of service for each relationship. For example, at the highest level of access my capacity is 8 people per year with intake occurring every 2 months, if capacity allows.</p>

<p>New clients are accepted through my newsletter waitlist. It ensures the quality of those I work with and the integrity of the tribe. Once you have been accepted into the waitlist you will receive the required information to speak 1-1 and evaluate whether or not you will be a good candidate to work with.</p>

<p>Yes, reserving your spot with a deposit for the next available intake is possible, otherwise the newsletter is the only place you will hear about spot openings.</p>

<p>I encourage you to apply immediately if you want to start working together within the next 1-2 two months. A link to the next steps will be provided at the end of this read.</p>

<!-- I (if you are in dire need) encourage you to message me via Instagram (@dwaynemcyrus) immediately if you want to start working together within the next 1-2 two months. Be sure that the first word in your message is “Voyager” in order to be moved up the list of replies.  -->

<p><strong>Final Word</strong>
My private mentorship differs from my public conversations and lectures as it is a place for co-creation. Collaborative work in a sacred space of emotional security and privacy as we restructure your current state of being. Our work is very challenging and it must be, as that is where the growth resides. It is confronting on an emotional, mental, and spiritual level based on the subject matter we are dealing with together at any given time.</p>

<p>The work is highly demanding and highly rewarding which requires us both to walk together in focused attention and openness to new possibilities.</p>

<p>Let’s <a class="internal-link" href="/waitlist">begin your application</a>.</p>

      </content>
    </main>
    <!-- <aside></aside> -->
    <footer>
      <!-- <nav class="nav-main">
  
    <a href="/" >Home</a>
  
    <a href="/notes.html" >Notes</a>
  
    <a href="/essays.html" >Essays</a>
  
    <a href="/waitlist.html" >Waitlist</a>
  
</nav> -->
      <p class="legal-stuff"><span>© 2024-2025 DM Cyrus LLC</span></span><a href="#">Privacy Policy</a> | <a href="#">Fulfillment Policy</a> | <a href="#">Get in Touch</a></span></p>

    </footer>
    </div>
  </body>
  </html>