<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="UTF-8">

  <link rel="canonical" href="http://localhost:4000/voyagers" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="They call me Cyrus — Artist. Writer. Guide.">

  <meta property="og:site_name" content="Dwayne's digital garden">

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

  <!-- <link rel="stylesheet" href="/styles.css"> -->

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="stylesheet" href="/assets/css/styles.css">




<!-- TODO Purchase commercial liscenes and hard code these fonts into the site as backups. -->

<!-- CDN | Fonts: New Atten -->
<link href="https://fonts.cdnfonts.com/css/atten-new" rel="stylesheet">
                
<!-- Google Fonts: Overpass, Overpass Mono -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- 
font-family: 'Atten New', sans-serif;
font-family: 'Atten Round New', sans-serif;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.overpass-<uniquifier> {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
.overpass-mono-<uniquifier> {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
 -->




 <!-- MailerLite: Needed styles for the form to function. -->
 <!-- <style type="text/css">@import url("https://assets.mlcdn.com/fonts.css?version=1726484");</style> -->
<link rel="stylesheet" href="/assets/css/mailerlite.css">

<!-- <link rel="script" href="/assets/css/mailerlite.css"> -->

<script src="/assets/js/callouts.js"></script>


  
  <meta property="og:description" content="They call me Cyrus — Artist. Writer. Guide."/>
  

  
  <meta property="og:title" content="Voyager’s Harbour">
  <meta property="og:type" content="article">
  

  
  <meta property="article:published_time" content="2025-02-20T15:51:23+01:00">
  <meta property="article:author" content="http://localhost:4000/">
  

  <meta property="og:url" content="http://localhost:4000/voyagers" />

  






  <title>
    
      Voyager’s Harbour &mdash; Dwayne's digital garden
    
  </title>
</head>





  <body>
    <div class="content-wrapper">
    <header>
    </header>
    <!-- <aside></aside> -->
    <main aria-role="main">
      <content>
      <p>They call me Cyrus — Artist. Writer. Guide.</p>

<p>I lead courageous men and women toward emotional sovereignty and intentional living especially after trauma.</p>

<p>For over 16 years, I’ve charted my own path of healing and recovery from the deep wounds of childhood and adult sexual abuse. I would not be alive today if it were not for the invested efforts of mentors, coaches, therapists, counsellors, brothers, sisters, friends and elders during this long voyage.</p>

<p>Now, I help fellow humans like yourself reclaim their life through emotional mastery, functional boundaries, and authentic relationships with self and others.</p>

<p>This is the work—uncovering your emotional blocks, developing resilience, and cultivating your inner strength to live life on your terms.</p>

<p>I only work with a small number of committed people who are ready to face their pain and transform their lives. Because of this, space is always limited and only offered to those on the waitlist when available.</p>

<p>Take the next step. Whether you are a man breaking free from emotional neglect and redefining how you lead and love, or a woman releasing the pressures of holding everything together and setting boundaries that honour who you truly are.</p>

<p>The journey is yours to take.</p>

<p><a class="internal-link" href="/waitlist">Apply to join</a> fellow Voyagers for access to the newsletter waitlist and be of the first to know when mentorship spots become available.</p>

<!-- For more information on how I can be of service to you click here. // For more information about service how I serve my community <a class='internal-link' href='/service'>click here</a>. -->

      </content>
    </main>
    <!-- <aside></aside> -->
    <footer>
      <!-- <nav class="nav-main">
  
    <a href="/" >Home</a>
  
    <a href="/notes.html" >Notes</a>
  
    <a href="/essays.html" >Essays</a>
  
    <a href="/waitlist.html" >Waitlist</a>
  
</nav> -->
      <p class="legal-stuff"><span>© 2024-2025 DM Cyrus LLC</span></span><a href="#">Privacy Policy</a> | <a href="#">Fulfillment Policy</a> | <a href="#">Get in Touch</a></span></p>

    </footer>
    </div>
  </body>
  </html>