<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="UTF-8">

  <link rel="canonical" href="http://localhost:4000/waitlist" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="For success in life reading is important.">

  <meta property="og:site_name" content="Dwayne's digital garden">

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

  <!-- <link rel="stylesheet" href="/styles.css"> -->

  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="stylesheet" href="/assets/css/styles.css">




<!-- TODO Purchase commercial liscenes and hard code these fonts into the site as backups. -->

<!-- CDN | Fonts: New Atten -->
<link href="https://fonts.cdnfonts.com/css/atten-new" rel="stylesheet">
                
<!-- Google Fonts: Overpass, Overpass Mono -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- 
font-family: 'Atten New', sans-serif;
font-family: 'Atten Round New', sans-serif;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.overpass-<uniquifier> {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
.overpass-mono-<uniquifier> {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} 
 -->




 <!-- MailerLite: Needed styles for the form to function. -->
 <!-- <style type="text/css">@import url("https://assets.mlcdn.com/fonts.css?version=1726484");</style> -->
<link rel="stylesheet" href="/assets/css/mailerlite.css">

<!-- <link rel="script" href="/assets/css/mailerlite.css"> -->

<script src="/assets/js/callouts.js"></script>


  
  <meta property="og:description" content="For success in life reading is important."/>
  

  
  <meta property="og:title" content="Waitlist">
  <meta property="og:type" content="article">
  

  
  <meta property="article:published_time" content="2025-02-20T15:51:23+01:00">
  <meta property="article:author" content="http://localhost:4000/">
  

  <meta property="og:url" content="http://localhost:4000/waitlist" />

  






  <title>
    
      Waitlist &mdash; Dwayne's digital garden
    
  </title>
</head>





  <body>
    <div class="content-wrapper">
    <header>
    </header>
    <!-- <aside></aside> -->
    <main aria-role="main">
      <content>
      <p>For success in life reading is important.</p>

<p><strong>Note:</strong> Other than a private conversation with me one-on-one, my newsletter waitlist is the only way to find out when I have available capacity to take on new clients for guidance.</p>

<p>Unlike many who send out newsletters, I’m not looking for numbers, I’m looking to make positive impact and build relationships one person at a time. There is an application process that is manually reviewed by me in order for you to join the waitlist and begin receiving my letters.</p>

<p>Quality over quantity.</p>

<p>My community of Voyagers is not for everyone. It is highly moderated and frequently reviewed to filter out inactive members. I maintain high engagement and encourage you to do the sameEM DASH recovery work is not a solo activity. The space I maintain is founded on privacy, empathy, and trust in order to facilitate conversations that move you towards authentic living.</p>

<p><strong>Do not apply</strong> if you are…</p>
<ul>
  <li>Not ready to invest your time and energy in long-term inner work.</li>
  <li>Looking for someone to fix your life for you and with minimal effort on your part.</li>
  <li>Unwilling to confront difficult emotions and experiences EM DASH your pain.</li>
  <li>Expecting to receive shortcuts and quick fixes to your life’s challenges.</li>
  <li>Not prepared to take the risk, get vulnerable, and  share your story.</li>
</ul>

<p>Seriously, do not apply if you see yourself in any of the above it will be a waste of both your and my time.</p>

<p>Now, <strong>if you’re ready</strong> to…</p>
<ul>
  <li>Heal emotional wounds from trauma and reclaim control over your life.</li>
  <li>Develop emotional resilience and break free from self-sabotaging patterns that no longer serve you.</li>
  <li>Set and maintain functional boundaries in your relationships with yourself and others.</li>
  <li>Be guided and held accountable to living with the intention of honouring your true self.</li>
  <li>Create and work resiliently to bring transformative change to your self, your family, and your community.</li>
</ul>

<p>I invite you to apply as I would love to learn more about your story and find ways to help you navigate the challenges of living an extraordinary life as a fellow Voyager.</p>

<p>Your application can take between 2-5 days to be processed as I work through the list manually one at a time.</p>

<p>What to expect once you’re in…</p>
<ul>
  <li>A weekly schedule of letters (Deep Sundays, Inspired Wednesdays, and Friday Reflections), with the occasional extra email.</li>
  <li>Insights on emotional mastery, trauma recovery, and relationship boundaries with direct access to me via email for any comments, questions, and curiosities.</li>
  <li>Announcements for open mentorship spots, exclusive workshops, and periodic invitations to the private Telegram group.</li>
</ul>

<p>If you feel ready to embrace the work, take the next step and complete the form below to apply.</p>

<div><div id="mlb2-17981580" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-17981580">
  <div class="ml-form-align-left">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <div class="ml-form-embedContent" style="margin-bottom: 0px"></div>

        <form class="ml-block-form" action="https://assets.mailerlite.com/jsonp/1099943/forms/132286044641953230/subscribe" data-code="" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <!-- input -->
                <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Enter your email address." autocomplete="email" />
                <!-- /input -->

                <!-- textarea -->

                <!-- /textarea -->

                <!-- select -->

                <!-- /select -->

                <!-- checkboxes -->

                <!-- /checkboxes -->

                <!-- radio -->

                <!-- /radio -->

                <!-- countries -->

                <!-- /countries -->
              </div>
            </div>
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-name ml-validate-required">
                <!-- input -->
                <input aria-label="name" aria-required="true" type="text" class="form-control" data-inputmask="" name="fields[name]" placeholder="Your name because it matters." autocomplete="given-name" />
                <!-- /input -->

                <!-- textarea -->

                <!-- /textarea -->

                <!-- select -->

                <!-- /select -->

                <!-- checkboxes -->

                <!-- /checkboxes -->

                <!-- radio -->

                <!-- /radio -->

                <!-- countries -->

                <!-- /countries -->
              </div>
            </div>
          </div>

          <!-- Privacy policy -->

          <!-- /Privacy policy -->

          <input type="hidden" name="ml-submit" value="1" />

          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">
              Apply to <i>Letters of Endurance</i>
            </button>

            <button disabled="disabled" style="display: none" type="button" class="loading">
              <div class="ml-form-embedSubmitLoad"></div>
              <span class="sr-only">Loading...</span>
            </button>
          </div>

          <input type="hidden" name="anticsrf" value="true" />

<!-- MailerLite Custom: Added Text -->
<p class="form-policy-notice">Unsubscribe anytime, if accepted. For more details, review the Privacy Policy.</p>

        </form>
      </div>

      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h4>Thank you!</h4>

          <p>You have successfully joined our subscriber list.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function ml_webform_success_17981580() {
    try {
      window.top.location.href =
        "https://dwaynemcyrus.com/confirmation-reminder/";
    } catch (e) {
      window.location.href = "https://dwaynemcyrus.com/confirmation-reminder/";
    }
  }
</script>

<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127" type="text/javascript"></script>
<script>
  fetch(
    "https://assets.mailerlite.com/jsonp/1099943/forms/132286044641953230/takel"
  );
</script>
</div>

<!-- To learn about how I serve my community <a class='internal-link' href='/service'>click here</a>. -->

      </content>
    </main>
    <!-- <aside></aside> -->
    <footer>
      <!-- <nav class="nav-main">
  
    <a href="/" >Home</a>
  
    <a href="/notes.html" >Notes</a>
  
    <a href="/essays.html" >Essays</a>
  
    <a href="/waitlist.html" >Waitlist</a>
  
</nav> -->
      <p class="legal-stuff"><span>© 2024-2025 DM Cyrus LLC</span></span><a href="#">Privacy Policy</a> | <a href="#">Fulfillment Policy</a> | <a href="#">Get in Touch</a></span></p>

    </footer>
    </div>
  </body>
  </html>