---
import BaseLayout from './BaseLayout.astro';
import Backlinks from '../components/links/Backlinks.astro';
import ResourceLinks from '../components/links/ResourceLinks.astro';

import {
  getNodeBySlug,
  flattenNodeLinks,
  type ContentLink,
} from '../lib/graph';

interface Props {
  slug: string;   // must match slug in content-map.json (e.g. "aessay-b")
  title: string;
}

const { slug, title } = Astro.props;

const node = getNodeBySlug(slug);
const links: ContentLink[] = node ? flattenNodeLinks(node) : [];
---

<BaseLayout pageTitle={title}>
  <article>
    <h1>H1: {title}</h1>
    <slot />
  </article>

  <aside>
    <Backlinks links={links} />
    <hr>
    <ResourceLinks links={links} />
  </aside>
  
</BaseLayout>
